<ul>
<%for (var result in results){%>
  <li><%- JSON.stringify(results[result].instnm) %></li>    
  		<ul>
  		<li><%- JSON.stringify(results[result].pref_state) %></li>
  		<li>instate tuition: <%- JSON.stringify(results[result].instate) %></li>
  		<li>out of state tuition: <%- JSON.stringify(results[result].outstate) %></li>
  		</ul>
  <%}%>
</ul>