


<!DOCTYPE HTML>
<html>
    
    <head>
    
        <!-- CSS -->
        <link href="result.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        
        <!-- JS -->
        <script type="text/javascript" src="ejs.min.js"></script>
        <script src="result.js"></script>
        
    </head>
    
    <body>
    
        <div id="results">
            <h1>Here are your Top 5 Colleges based on your preferences!</h1>
            
            <p>
	            <ul>
				<%for (var result in results){%>
				  <li><%- JSON.stringify(results[result].instnm) %></li>    
				  		<ul>
				  		<li><%- JSON.stringify(results[result].pref_state) %></li>
				  		<li>instate tuition: <%- JSON.stringify(results[result].instate) %></li>
				  		<li>out of state tuition: <%- JSON.stringify(results[result].outstate) %></li>
				  		</ul>
				  <%}%>
				</ul>
			</p>
        </div>
        
    </body>
    
</html>