<!DOCTYPE HTML>
<html>
    
    <head>
    
        <meta charset="UTF-8">
        <title>Your Colleges</title>
        
        <!-- CSS -->
        <link href="result.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        
        <!-- JS -->
        <script type="text/javascript" src="ejs.min.js"></script>
        <script src="result.js"></script>
        
    </head>
    
    <body>
    
        <div id="dbsux">
            
            <h1>Here are your Top 5 Colleges based on your preferences!</h1>
        
            <% for (var result in results){ %>
            
                <button class="accordion"><%- JSON.stringify(results[result].instnm) %><i class="icon ion-plus-round plus"></i></button>
                <div class="panel">
                  <ul>
                    <li>State: <%- JSON.stringify(results[result].pref_state) %></li>
                    <li>Instate Tuition: <%- JSON.stringify(results[result].instate) %></li>
                    <li>Out of State Tuition: <%- JSON.stringify(results[result].outstate) %></li>
                  </ul>
                </div>
            
            <% } %>
            
        </div>
        
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }
        </script>
        
    </body>
    
</html>