body {
    background: #333;
    font-family: 'Raleway', sans-serif;
    color: #f3f3f3;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
}

#startAnimation {
    display: block;
}

#crystal {
    position: absolute;
    font-family: 'Playfair Display', sans-serif;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    height: 400px;
    width: 400px;
    z-index: 2;
    background: url(fog.gif);
    background-position: center;
    background-size: 800px 438px;
    background-color: #333;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
    transition: transform 1s;
}

#crystal:hover {
    transform: scale(1.3);
}

#quoteContainer{
    height: 30%;
	width: 75%;
	padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
}

#buttonContainer{
	width: 100%;
	text-align: center;
    padding-right: 20px;
}

#quoteButton{
	margin-top: 60px;
    margin-left: 10px;
	color: #FFF;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
    transform: scale(5);
}

#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}

#home {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
}

.background-3 {
 
 background-image: linear-gradient(#8b9da9, #fff6e4);
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}

.card {
    font-family: 'Raleway', sans-serif; 
    height: 350px;
    width: 700px;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -350px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.card h1{
    font-family: 'Oswald', sans-serif;
}

.card2 {
    font-family: 'Raleway', sans-serif; 
    height: 450px;
    width: 700px;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -350px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.card2 h1{
    font-family: 'Oswald', sans-serif;
}

#welcome {
    position: absolute;
}

#welcome p {
    font-size: 2em;
}

/*#growTree {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(tree.gif);
    background-repeat: no-repeat;
    z-index: 20;
}*/

#toForm{
    display: inline-block;
	margin-top: 20px;
	color: #000;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
    transform: scale(5);
}

#toForm:active{
	cursor: pointer;
}

#form {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    text-align: center;
}

#matchForm {
    text-align: center;
}

#range .slider-selection {
	background: #15cbb2;
}
#range .slider-handle {
	background: #0e8e7c;
}